<div class="backdrop-image" [style.background-image]="'url(https://image.tmdb.org/t/p/w1280' + movie.backdrop_path + ')'">
    
</div>
<div class="movie-details">
    <div class="poster-image">
        <img src="https://image.tmdb.org/t/p/w342{{movie.poster_path}}" alt="">
    </div>
    <div class="space"></div>
    <div class="main-info">
        <h1 class="title">{{movie.title}}</h1>
        <span *ngFor="let genre of movie.genres" class="movie-genre-chip">{{genre.name}}</span>

        <p>{{movie.overview}}</p>

        <sp-related-movies [relatedMovieList]="relatedMovies"></sp-related-movies>
    </div>
</div>