$mdb-primary: (
    50 : #f3e1e3,
    100 : #e1b5b9,
    200 : #ce848a,
    300 : #ba525b,
    400 : #ab2d38,
    500 : #9c0815,
    600 : #940712,
    700 : #8a060f,
    800 : #80040c,
    900 : #6e0206,
    A100 : #ff9d9e,
    A200 : #ff6a6c,
    A400 : #ff373a,
    A700 : #ff1e21,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);




$mdb-accent: (
    50 : #e7f4f1,
    100 : #c4e3dc,
    200 : #9cd0c5,
    300 : #74bdad,
    400 : #57af9c,
    500 : #39a18a,
    600 : #339982,
    700 : #2c8f77,
    800 : #24856d,
    900 : #17745a,
    A100 : #adffe6,
    A200 : #7affd7,
    A400 : #47ffc7,
    A700 : #2dffbf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: map-get($mdb-primary, 500 );
$accent: map-get($mdb-accent, 500 );
