$mdb-primary: (
    50 : #e8eff6,
    100 : #c5d6e9,
    200 : #9fbbda,
    300 : #79a0cb,
    400 : #5c8bc0,
    500 : #3f77b5,
    600 : #396fae,
    700 : #3164a5,
    800 : #295a9d,
    900 : #1b478d,
    A100 : #c6daff,
    A200 : #93b9ff,
    A400 : #6098ff,
    A700 : #4788ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mdb-accent: (
    50 : #e7f4f1,
    100 : #c4e3dc,
    200 : #9cd0c5,
    300 : #74bdad,
    400 : #57af9c,
    500 : #39a18a,
    600 : #339982,
    700 : #2c8f77,
    800 : #24856d,
    900 : #17745a,
    A100 : #adffe6,
    A200 : #7affd7,
    A400 : #47ffc7,
    A700 : #2dffbf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: map-get($mdb-primary, 500 );
$accent: map-get($mdb-accent, 500 );
