.backdrop-image {
    height: 60%;
    background-size: cover;
    filter: opacity(20%);
}

.movie-details {
    position: relative;
    top: -400px;
    left: 5%;
    background: transparent;
    height: 20%;
    display: flex;
    justify-content: flex-start;

    .main-info {

        margin-left: 30px;

        .title {
            font-size: 40px;
            font-family: 'Oswald'
        }

        .movie-genre-chip {
            margin: 10px;
            font-size: 10px;
            background: #ccc;
            color: black;
            display: inline-block;
            padding: 5px;
            border-radius: 15px;
            border: 1px solid #ababab;
        }

        p {
            padding: 30px;
            background: rgba(255, 255, 255, .6);
            border-radius: 6px;
            width: 75%;
        }
        
    }
}