.backdrop-image {
    height: 60%;
    background-size: cover;
    filter: opacity(20%);
}

.movie-details-section {
    position: relative;
    top: -430px;
    left: 5%;
    background: transparent;
    height: 20%;
    display: flex;
    justify-content: flex-start;

    .main-info {
        margin-left: 30px;

        .title {
            font-size: 40px;
            font-family: 'Oswald'
        }

        .movie-genre-chip {
            margin: 10px;
            font-size: 10px;
            background: #ccc;
            color: black;
            display: inline-block;
            padding: 5px;
            border-radius: 15px;
            border: 1px solid #ababab;
        }

        p {
            padding: 30px;
            background: rgba(255, 255, 255, .6);
            border-radius: 6px;
            width: 75%;
        }
    }
}

.rating-section {
    margin: 20px 0px;
}

.cast-section {
    margin-top: 20px;
    // width: 90%;
    overflow-y: auto;
    max-height: 250px;
}

.related-section {
    padding-top: 15px;
    border-top: 2px solid #ccc;
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.related-movies, .cast-members {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .movie {
        margin-right: 20px;

        &:not(:first-child) {
            margin: 0px 20px;
        }

        img {
            transform: scale(.95);
            transition: all .3s ease;

            &:hover {
                cursor: pointer;
                transform: scale(1);
                box-shadow: 5px 5px 5px rgb(168, 168, 168);
            }
        }
    }

    .member {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 5px;
        transition: width .4s ease;
        margin-right: 20px;

        &:not(:first-child) {
            margin: 0px 20px;
        }
        
        img {
            width: auto;
            height: 120px;
            overflow: hidden;
            padding-bottom: 10px;
        }

        .member-name, .member-character {
            max-width: 110px;
            text-align: center;
        }

        .member-name {
            font-size: 14px;
        }
        .member-character {
            font-size: 11px;
        }
    }
}

.no-movie-message {
    font-family: 'Oswald';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 93vh;
}