.main-tolbar {
    height: 7vh;
}

.main-container {
    height: 93vh;
    max-height: 93vh;
    overflow-y: auto;
    padding: 0px 40px;
}

.flex-container {
    display: flex;
}


.list-container {
    width: 25%;
    max-height: 93vh;
    overflow-y: auto;
}

.details-container {
    width: 75%;
    background: skyblue;
    padding: 40px;
}