.main-tolbar {
    height: 7vh;
}

.main-container {
    height: 93vh;
    padding: 0px 50px;
}

.flex-container {
    display: flex;
}


.list-container {
    width: 20%;
    background: red;
}

.details-container {
    width: 80%;
    background: skyblue;
}