.main-tolbar {
    height: 7vh;
}

.landing-page {
    height: 93vh;
    max-height: 93vh;
    overflow-y: auto;
    padding: 0px 40px;

    .title {
        font-size: 2em;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
}


.list-container {
    width: 25%;
    max-height: 93vh;
    // overflow-y: auto;
}

.details-container {
    width: 75%;
    // padding: 40px;
}