@import './styles/reset';
@import './styles/colorPalettes';
@import './styles/layout';
@import './styles/movieList';

body{
    font-family: Roboto;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


@import '~@angular/material/theming';
@include mat-core();

$mdb-app-primary: mat-palette($mdb-primary);
$mdb-app-accent:  mat-palette($mdb-accent, A200, A100, A400);
$mdb-app-warn:    mat-palette($mat-red);
$mdb-app-theme: mat-light-theme($mdb-app-primary, $mdb-app-accent, $mdb-app-warn);

@include angular-material-theme($mdb-app-theme);