@import './styles/reset';
@import './styles/colorPalettes';
@import './styles/layout';
@import './styles/movieList';
@import './styles/details';

body{
    font-family: Roboto;
}

body::-webkit-scrollbar {
    width: .2em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@import '~@angular/material/theming';
@include mat-core();

$mdb-app-primary: mat-palette($mdb-primary);
$mdb-app-accent:  mat-palette($mdb-accent, A200, A100, A400);
$mdb-app-warn:    mat-palette($mat-red);
$mdb-app-theme: mat-light-theme($mdb-app-primary, $mdb-app-accent, $mdb-app-warn);

@include angular-material-theme($mdb-app-theme);